@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<div class=card style="width: 18rem">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@ViewBag.Title</h5>
        <p class="card=text">@ViewBag.Description</p>
        <p class="card-text">@ViewBag.Technologies</p>
        <a href="#" class="btn btn-primary">Projects</a>
    </div>
</div>